.breakdance .bde-price-list {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.breakdance .bde-price-list__row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  padding: 16px;
  font-weight: 500;
}

.breakdance .bde-price-list__price {
  font-weight: 700;
  text-align: right;
  display: flex;
  align-items: center;
  gap: 8px;
}

.bde-price-list__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 1.1;
}

.breakdance .bde-price-list__price-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.breakdance .bde-price-list__unit-line {
  white-space: nowrap;
  font-size: 70%;
  line-height: 1.1;
}
